/* Footer */
html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font: normal normal normal'Arial',serif ;  
  }

  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
    background-color: #221F1F;
    font-family: normal normal normal 12px/1.4em Arial, Helvetica, sans-serif;
    color: rgba(170,170,170,1);
    bottom: 0;
  }

  .copyRight{
      text-align: center;
      margin: 0.5% auto;
  }


  /* NavBar */
  a {
    color: black;
  }
  
  /* header */
  
  .header {
	background-color: rgb(255, 253, 247);
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	position: fixed;
	width: 100%;
	z-index: 3;
  }
  
  .header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
  }
  
  .header li a {
	display: block;
	padding: 20px 20px;
	border-right: 1px solid #f4f4f4;
	font: normal normal normal 18px/1.4em 'eb garamond',serif;
	text-decoration: none;
  text-align: center;
  background-color: rgb(255, 253, 247);
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
	background-color: #ddd;
    color: black;
  }
  
  .header .logo {
	display: block;
	float: left;
	font: normal normal normal 26px/1.4em 'eb garamond',serif;
	padding: 10px 20px;
	text-decoration: none;
	letter-spacing: 0.3rem;
  }
  
  /* menu */
  
  .header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
  }

  .header .menu li .active{
    background-color: #c7c1c1;
    color: white;
  }

  /* menu icon */
  
  .header a:active{
    background-color: #c7c1c1;
    color: white;
  }

  .header .menu-icon {
	cursor: pointer;
	display: inline-block;
	padding: 28px 20px;
	position: relative;
	user-select: none;
  }
  
  .header .menu-icon .navicon {
	background: #333;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
	background: #333;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
  }
  
  .header .menu-icon .navicon:before {
	top: 5px;
  }
  
  .header .menu-icon .navicon:after {
	top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
	display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
	max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
  }


  /*  */

  .aboutMain{
    margin-top: 4%;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    margin: 0 2.5%;
    flex: 50%;
    max-width: 45%;
    padding: 0;
    margin-top: 5%;
    margin-bottom: 3%;
  }

  .column .columnImg img {
    vertical-align: middle;
    width: 100%;
  }

  .columnImg img{
    width: 100%;
    height: 50vw;
  }

  #imgColumn{
    height: 40%;
  }

 .aboutMe
 {
    font: normal normal normal 26px/1.4em 'eb garamond',serif !important;
    text-align: center;
    letter-spacing: 0.3em;
    color: rgba(129,129,129,1);
 }

 .aboutMe_Name{
   width: 50%;
 }
 .aboutMePara{
    font: normal normal normal 20px/1.4em 'eb garamond',serif !important;
 }

 .insideContact{
   width: 100%;
   
 }

 .contactPhone, .contactSocialMedia, .contactCountry{
   float: none;
 }

 .contactPhone, .contactSocialMedia, .contactCountry{
   width: 33.33%;
   float: left;
   text-align: center;
 }

 .contactSocialMedia i{
   padding: 0 5%;
 }


   /* Responsive params */
  @media (min-width: 43em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }


   /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 850px) {
    .column {
      flex: 50%;
      max-width: 100%;
    }
    
    #imgColumn {
      max-width: 99%;
      height: 60%;
      margin: 1% 1%;
    }
  
    #imgColumn img {
      height: 100vw;
    }
  }


  @media screen and (max-width: 600px) {
    .contactPhone, .contactSocialMedia, .contactCountry {
      float: none;
      text-align: center;
      width: 100%;
      margin-bottom: 10%;
    }
  }